NEXT_PUBLIC_API_URL="https://api.acikkuran.com"

# give "localhost" as value on localhost
NEXT_PUBLIC_DOMAIN_LOCALE_TR="localhost" # acikkuran.com
NEXT_PUBLIC_DOMAIN_LOCALE_EN="localhost" # quran.so

NEXT_PUBLIC_LOCALE="tr" # tr | en, for now
NEXT_PUBLIC_ENVIRONMENT="development" # development | production

NEXT_PUBLIC_ANALYTICS_ID=

# this is a temporary solution to disable the duplicate atom key checking
RECOIL_DUPLICATE_ATOM_KEY_CHECKING_ENABLED=false
